{% extends 'security/login_base.html.twig' %}

{% block title %}Doctor Login{% endblock %}

{% block body %}
    <div class="login-title">Dentist Back Office</div>
    
{% if error %}
    {% if error.messageKey is defined %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% else %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
{% endif %}


    <form action="{{ path('app_login') }}" method="post">
        <div class="mb-3">
            <label for="username" class="form-label">Username:</label>
            <input type="text" id="username" name="username" class="form-control" required autofocus>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" id="password" name="password" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-primary w-100">Login</button>
    </form>
{% endblock %}
