{% extends 'base.html.twig' %}

{% block title %}Medical Dashboard{% endblock %}

{% block body %}
    <h1>Welcome to the Medical Section</h1>
    <p>This is the medical dashboard where you can manage medical prescriptions.</p>
{% endblock %}
