{% extends 'base.html.twig' %}

{% block title %}New MedicalPrescription{% endblock %}

{% block body %}
    <h1>Create new MedicalPrescription</h1>

    {{ include('medical_prescription/_form.html.twig') }}

    <a href="{{ path('app_medical_prescription_index') }}">back to list</a>
{% endblock %}
