{% extends 'base.html.twig' %}

{% block title %}MedicalPrescription{% endblock %}

{% block body %}
    <h1>MedicalPrescription</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ medical_prescription.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_medical_prescription_index') }}">back to list</a>

    <a href="{{ path('app_medical_prescription_edit', {'id': medical_prescription.id}) }}">edit</a>

    {{ include('medical_prescription/_delete_form.html.twig') }}
{% endblock %}
